/*--------------------------------------------------------*/
/* Font: Roboto */
/* Source: Google Web Fonts Library */
/* License Type: GPL */
/*--------------------------------------------------------*/
@font-face {
	font-family: "Roboto"; font-style : normal; font-weight : 100;
	src: url('Roboto/Roboto-Thin.eot');
	src: url('Roboto/Roboto-Thin.woff') format('woff'),
		url('Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('Roboto/Roboto-Thin.ttf') format('truetype'),
		url('Roboto/Roboto-Thin.svg#webfont') format('svg');
	font-style: normal;
	font-weight: 100;
}


@font-face {
    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
	src: url('VT323/VT323-Regular.eot');
	src: url('VT323/VT323-Regular.woff') format('woff'),
		url('VT323/VT323-Regular.eot?#iefix') format('embedded-opentype'),
		url('VT323/VT323-Regular.ttf') format('truetype'),
		url('VT323/VT323-Regular.svg#webfont') format('svg');
}