/*
 * This file is part of Replica -- Management Console
 *
 * Copyright (c) 2014 Davide Dal Farra, dalfarra@codref.com
 *
 * Authors: Davide Dal Farra <dalfarra@codref.com>
 *
 * Licensed under the License specified in file LICENSE, included with
 * the source code and binary code bundles.
 * You may not use this file except in compliance with the License.
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.select-wo-label {
	color: #596F8F;
	font-size: 22px;
	font-weight: 200;
	text-shadow: 0 1px 0 #fff;
}
.portal-title {
	color: #04408C;
	font-size: 11px;
	font-weight: bold;
	font-family: tahoma, arial, verdana, sans-serif;
	line-height: 17px;	
}

.portal-title-background {
  font-size: 11px;
  border-color: #99bce8 !important;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #cbddf3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae7f6), color-stop(45%, #cddef3), color-stop(46%, #abc7ec), color-stop(50%, #abc7ec), color-stop(51%, #b8cfee), color-stop(100%, #cbddf3)) !important;
  background-image: -webkit-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3) !important;
  background-image: -moz-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3) !important;
  background-image: -o-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3) !important;
  background-image: -ms-linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3) !important;
  background-image: linear-gradient(top, #dae7f6, #cddef3 45%, #abc7ec 46%, #abc7ec 50%, #b8cfee 51%, #cbddf3) !important;
  -moz-box-shadow: #f4f8fd 0 1px 0px 0 inset;
  -webkit-box-shadow: #f4f8fd 0 1px 0px 0 inset;
  -o-box-shadow: #f4f8fd 0 1px 0px 0 inset;
  box-shadow: #f4f8fd 0 1px 0px 0 inset; }

.app-header {
	color: #596F8F;
	font-size: 22px;
	font-weight: 200;
	padding: 8px 15px;
	text-shadow: 0 1px 0 #fff;
}

#app-msg {
	background: #D1DDEF;
	border: 1px solid #ACC3E4;
	padding: 3px 15px;
	font-weight: bold;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 0;
}

.x-panel-ghost {
	z-index: 1;
}

/*.x-border-layout-ct {
	background: #DFE8F6;
}*/

.x-portal-body {
	padding: 0 0 0 8px;
}

.x-portal .x-portal-column {
	/* columns must have vertical padding to avoid losing dimensions when empty */
	padding: 8px 8px 0 0;
}

.x-portal .x-panel-dd-spacer {
	border: 2px dashed #99bbe8;
	background: #f6f6f6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 10px;
}

.x-portlet {
	margin-bottom: 10px;
	padding: 1px;
}

.x-portlet .x-panel-body {
	background: #fff;
}

.portlet-content {
	padding: 10px;
	font-size: 11px;
}

#app-options .portlet-content {
	padding: 5px;
	font-size: 12px;
}

.ext-el-mask {
	color: gray;
	cursor: default;
	opacity: 0.6;
	background-color: grey;
}

.ext-el-mask-msg div {
	background-color: #EEEEEE;
	border-color: #A3BAD9;
	color: #222222;
	font: 1.2em tahoma, arial, helvetica, sans-serif;
}

.ext-el-mask-msg {
	padding: 10px;
}
.icon-arrow-circle {
	background-image: url(../img/arrow-circle-double.png);
}
.icon-script-r {
	background-image: url(../img/script-attribute-r.png);
}

.icon-servers {
	background-image: url(../img/servers-network.png);
}

.icon-config {
	background-image: url(../img/table-join-column.png);
}

.icon-supplier {
	background-image: url(../img/supplier.png);
}

.icon-box-search-result {
	background-image: url(../img/box-search-result.png);
}
.icon-box--pencil {
	background-image: url(../img/box--pencil.png);
}

.icon-drive-download {
	background-image: url(../img/drive-download.png);
}

.icon-new-page {
	background-image: url(../img/new-page.png);
}

.icon-wrench-screwdriver {
	background-image: url(../img/wrench-screwdriver.png);
}

.icon-pencil-ruler {
	background-image: url(../img/pencil-ruler.png);
}

.icon-add {
	background-image: url(../img/plus-circle-frame.png);
}

.icon-delete {
	background-image: url(../img/minus-button.png);
}

.icon-cancel {
	background-image: url(../img/cancel.png);
}

.icon-edit {
	background-image: url(../img/pencil.png);
}

.icon-operator {
	background-image: url(../img/hard-hat.png);
}

.icon-alert {
	background-image: url(../img/alert.png);
}

.icon-mu {
	background-image: url(../img/mu.png);
}

.icon-stage {
	background-image: url(../img/stage.png);
}

.icon-client {
	background-image: url(../img/users.png);
}

.icon-shift {
	background-image: url(../img/clock-select-remain.png);
}

.icon-mm {
	background-image: url(../img/gear.png);
}

.icon-programmer {
	background-image: url(../img/chart.png);
}

.icon-attr-param {
	background-image: url(../img/attr-param.png);
}

.icon-workorder {
	background-image: url(../img/work-order.png);
}

.icon-export {
	background-image: url(../img/table-export.png);
}

.icon-history {
	background-image: url(../img/history.png);
}

.icon-setup {
	background-image: url(../img/wand-pencil.png);
}

.icon-upload {
	background-image: url(../img/arrow-step-out.png);
}

.icon-import {
	background-image: url(../img/gear-arrow.png);
}

.icon-table-import {
	background-image: url(../img/table-import.png);
}

.icon-exportbtn {
	background-image: url(../img/script-export.png);
}

.icon-parameter {
	background-image: url(../img/parameter.png);
}

.icon-export-excel {
	background-image: url(../img/table-excel.png);
}

.icon-save {
	background-image: url(../img/save.gif);
}

.icon-reset {
	background-image: url(../img/stop.png);
}

.icon-inspection-tool {
	background-image: url(../img/inspection-tool-big.png);
	background-size: 16px 16px;
}

.icon-home {
	background-image: url(../img/home-blue.png);
}

.icon-magnifier {
	background-image: url(../img/magnifier.png);
}

.icon-report {
	background-image: url(../img/report.png);
}

.icon-arrow {
	background-image: url(../img/arrow_right_green.png);
}

.icon-is-big {
	background-image: url(../img/pinion.png);
	background-size: 32px 32px;
}

.icon-part-spec-big {
	background-image: url(../img/part-spec.png);
	background-size: 32px 32px;
}

.icon-export-big {
	background-image: url(../img/export.png);
	background-size: 32px 32px;
}

.icon-parameter-big {
	background-image: url(../img/parameter-big.png);
	background-size: 32px 32px;
}

.icon-work-order-big {
	background-image: url(../img/work-order-big.png);
}

.icon-report-big {
	background-image: url(../img/report-big.png);
	background-size: 32px 32px;
}

.icon-chart-big {
	background-image: url(../img/chart-big.png);
	background-size: 32px 32px;
}

.icon-image-resize {
	background-image: url(../img/map-resize.png);
}

.icon-generate-chart-big {
	background-image: url(../img/generate-chart.png);
	background-size: 32px 32px;
}

.icon-home-big {
	background-image: url(../img/home-big.png);
	background-size: 32px 32px;
}

.icon-comparison {
	background-image: url(../img/comparison.png);
	background-size: 32px 32px;
}

.icon-cause-action {
	background-image: url(../img/cause-action.png);
	background-size: 16px 16px;
}

.icon-new {
	background-image: url(../img/tab_new.gif);
	background-size: 16px 16px;
}

.header-panel {
	background-color: "#6495ED";
	color: #fff;
}

.tab-hideHeader {
	display: none;
}

.widget-path {
	font-size: 12;
	font-style: italic;
}

.grid-title {
	font-weight: bold;
}


/* style rows on mouseover */
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
}
/* shared styles for the ActionColumn icons */
.x-action-col-cell img {
	cursor: pointer;
}

.date-range {
	width: 56px;
	height: 14px;
}

.x-grid-rowbody, .x-grid-rowbody a:link, .x-grid-rowbody a:visited {
	color: #385F95;
    padding: 0 5px 5px 5px;
}
.x-grid-rowbody a:link {
	text-decoration: underline;
}

.borderless-edit input {
	border: 0px;
	background: none;
	cursor: auto;
	color: #385F95;
}

.disabled-fieldset div{
	background: none repeat scroll 0 0 #FFF;
}

.disabled-readable .x-item-disabled .x-form-item-label, 
.disabled-readable .x-item-disabled .x-form-field,
.disabled-readable .x-item-disabled .x-form-cb-label,
.disabled-readable .x-item-disabled .x-form-trigger{
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	background: none !important;
}

.details-set-label {
	color: #04408C !important;
}

.x-panel-header-default-horizontal {
	padding: 5px 5px 6px 9px;
}

.x-grid-group-hd {
	padding: 2px 1px 2px 4px;
}

 .x-panel-header-default-horizontal {
 	padding: 5px 5px 6px 9px; */
}

.blue-bbar {
	color: #00000;
	background: #F2F2F2;
	padding: 5 3 5 5;
}

.icon-analysis-big {
	background-image: url(../img/analysis-big.png);
	background-size: 32px 32px;
}

.icon-operator-big {
	background-image: url(../img/operator-big.png);
	background-size: 32px 32px;
}

.icon-setup-big {
	background-image: url(../img/setup-big.png);
	background-size: 32px 32px;
	height: 32px;
}

.x-grid-cell {
	font: normal 12px/15px helvetica,arial,verdana,sans-serif;
}

.x-column-header-inner {
	padding: 5px 10px 5px 10px;
}

.x-column-header {
	font: bold 12px/15px helvetica,arial,verdana,sans-serif;
}

.x-btn-default-small {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

.x-tab-bar-plain .x-tab-bar-strip-default-top {
	background: #f2f2f2
}

.x-tab-default-top-active, .x-tab-default-left-active, .x-tab-default-right-active {
	background: #f2f2f2;
}

.column-hp-spec {
	color: #ccc;
}

.logout-btn {    
    background-color:#007dc1;    
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;    
    border:1px solid #124d77;    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:normal;
    padding:2px 12px;
    text-decoration:none;    
    text-shadow:0px 1px 0px #154682;
}

.logout-btn-over {
	background-color:#0061a7;
}

.logout-btn-pressed {
	background-color:#415989;
	top: 1px;
}

.x-form-multiselect-body .x-boundlist .x-mask {
    background: none;
}

.x-form-itemselector-body .x-form-item {
    margin: 0;
}

.x-form-itemselector-top {
    background-image: url(../img/top2.gif);
}
.x-form-itemselector-up {
    background-image: url(../img/up2.gif);
}
.x-form-itemselector-add {
    background-image: url(../img/right2.gif);
}
.x-form-itemselector-remove {
    background-image: url(../img/left2.gif);
}
.x-form-itemselector-down {
    background-image: url(../img/down2.gif);
}
.x-form-itemselector-bottom {
    background-image: url(../img/bottom2.gif);
}